footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}

.navLinkContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.navLinks {
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: center;
}

.navLinks a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
}