@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "JetBrains Mono", monospace;
}

.dashing_button {
  color: #000000;
  /* background-color: #08AEEA; */
  background-image: linear-gradient(90deg, #08aeea, #2af598, #08aeea, #2af598);
  background-size: 300% 300%;
  animation: bg 10s ease-in-out infinite;
}
.dashing_button:hover {
  animation: bg 2s ease-in-out infinite;
}
@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
